Pgiex/AdApprove/Approve/app.manifest
Pgiex/AdApprove/Approve/Form1.Designer.cs
Pgiex/PgiexClientUpdater/PgiexClientUpdater.sln
Pgiex/PgiexClientUpdater/PgiexClientUpdater/Properties/AssemblyInfo.cs
Pgiex/LinkApprove/LinkApprove.sln
Pgiex/AdApprove/Approve/Form2.resources
Pgiex/AdApprove/Approve/Languages/lang_bg.resources
